@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@200&display=swap');

/* styles.css */
/* universal selector - Applies to whole document */


/* Main view setup */

* {
    padding: 0;
    background: #fff;
    color: #000;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

}

p {
    line-height: 1.5;
}

body {
    font-family: Monserrat, sans-serif;
    font-weight: 300;
    font-size: 18px;

}

/* To center everything in game */

.game {
    display: flex;
    flex-direction: column;
    background-color: #FAF0E6;
    box-sizing: border-box;
    max-height: 85vh;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    margin-top: 3rem;
}

/* Title of the game */

.title {
    position: relative;
    top: 0;
    font-size: 4rem;
    color: #49701f;
}

/* Player, Computer, Result Score Board */
.score {
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
    position: relative;
}

.move {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 4rem;
    color: #774b24;
}

.rules {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 4rem;
    color: #774b24;
}
/* displaying three images in one line */

.options {
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
    margin-top: 2rem;

}

/* Styling on all three buttons */
#human,
#plant,
#soil {
    padding: 1rem;
    width: 150px;
    border-radius: 50%;
    font-size: 1.3rem;
    color: #000;
    outline: none;
    border: none;
    cursor: pointer;
}