@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

/* STYLE CSS FOR CYCLE OF LIFE GAME*/

/* global css */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

main {
    max-width: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
    padding: 4rem;
}

body {
    height: 100%;
    padding-bottom: 1rem;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0.6rem;
}



/* Main Game Area */

.game {
    margin: 0 auto;
    padding-bottom: 0px;

}

.game h1 {
    font-size: 3rem;
    margin-bottom: -3%;
}


.game h4 {
    margin-top: 3.5rem;
}

/* Game Score Area */

.userSection,
.comSection {
    margin-top: -13px;
    font-size: 1.7rem;
}

.userSection>h2,
.comSection>h2 {
    margin: 0.6em 0.9em;
    padding: 0;
}

.userSection h4,
.comSection h4 {
    margin-top: -20px;
}

.score {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.45rem;
}

h4 {
    text-align: center;
}

.user,
.com {
    font-size: 3em;
}

/* Game Selection Area */

.choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 1.5em auto;
    margin-bottom: 0;
}

.choiceImg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1.3em;
    border: 1px solid gray;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.3rem;
}


#imgchoice {
    width: 50px;
    height: 50px;
}

#imgchoice1 {
    width: 50px;
    height: 50px;
}

#imgchoice2 {
    width: 50px;
    height: 50px;
}

#imgchoice3 {
    width: 50px;
    height: 50px;
}

#imgchoice4 {
    width: 50px;
    height: 50px;
}

#commentText {
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(10, 167, 10);
}

.rules {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1.5em auto;
    margin-bottom: 3em;
}

.rulePoint {
    font-size: 1.4rem;
}

/* CSS for Winner, Loser and Thank You Pages */

.winner {
    width: 80%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

#winText {
    color: rgb(10, 167, 10);
}

.action {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.action a {
    margin: 0.5rem;
}

/* social networks footer */

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/*CSS for sticky footer*/

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

/*Buttons on winner, loser and thank you pages */

.btn {
    width: 150px;
    padding: 0.8em;
    border: 2px solid none;
    border-radius: 5px;
    margin: 0 auto;
}

.btn:hover {
    background-color: green;
}

.action button {
    font-size: 1.6rem;
}

/*Images on winner, loser and thank you pages */

#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*404 Error Page*/

.errorContainer {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    line-height: 2.5em;
}

.errorLink {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    background-color: #06936b;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

a:hover {
    background-color: #555;
}

/* MEDIA QUERY INSTRUCTIONS */

@media (min-width: 957px) {
    .action {
        margin-top: 20px;
        flex-direction: row;
    }

    .choice {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .choiceImg {
        margin-left: 20px;
    }

}

#winText {
    font-size: 2rem;
}

@media (min-width: 379px) {
    .choiceImg {
        width: 70%;
    }
}