@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@200&display=swap');

/* styles.css */
/* universal selector - Applies to whole document */


/* Main view setup */

    {
    /* padding: 0; */
    margin: 4ew;
    box-sizing: border-box;
    background: #fff;
    color: #774b24;
}

body {
    font-family: Monserrat, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #3a3a3a;

}

/* Logo area and navigation links */

#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
    color: #774b24;

}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 8vh;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #0000ff;
    color: blue
}

.active {
    border-bottom: 1px solid #0000ff;
}

.active {
    border-bottom: 1px solid #0000ff;
}

/* To center everything in game */

.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    /* background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 100vh;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1%; */
}

/* Title of the game */

.title {
    position: absolute;
    top: 0;
    font-size: 4rem;
    z-index: 2;
}

/* Score Board */

.score {
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    position: absolute;
    top: 70px;
    z-index: 1;
}

/* Score  */

.p-count,
.c-count {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* displaying three images in one line */

.options {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-top: 2rem;
}

/* Styling on all three buttons */
.human,
.plant,
.soil {
    padding: 0.8rem;
    width: 100px;
    border-radius: 10px;
    background: green;
    outline: none;
    border-color: green;
    border: none;
    cursor: pointer;
}

.move {
    font-size: 2rem;
    font-weight: bold;
}

/* Reload button style */
.reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: green;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 1.2rem;
}


/* Rules Page */
.rules-photo {
    max-width: 50%;
    height: auto;
    align-items: center;

}

/* Responsive Design */
@media screen and (max-width: 612px) {
    .title {
        text-align: center;
    }

    .score {
        position: absolute;
        top: 200px;
        width: 100vw;
    }

    .options {
        width: 100vw;
    }