@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@200&display=swap');

/* styles.css */
/* universal selector - Applies to whole document */


/* Main view setup */

* {
    padding: 0;
    /* margin: 0; */
    /* box-sizing: border-box; */
    background: #fff;
    color: #000;
}

p {
    line-height: 1.5;
}

body {
    font-family: Monserrat, sans-serif;
    font-weight: 300;
    font-size: 18px;

}


/* To center everything in game */

.game {
    /* display: flex;
    flex-direction: column; */
    background-color: #FAF0E6;
    /* box-sizing: border-box; */
    /* max-height: 85vh; */
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    margin-top: 3rem;
}

/* Title of the game */

.title {
    position: relative;
    top: 0;
    font-size: 4rem;
    z-index: 2;
}

/* Score Board */

.score {
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
    justify-content: space-around;
}

/* Score  */

.p-count,
.c-count {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* displaying three images in one line */

.options {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    margin-top: 2rem;

}

/* Styling on all three buttons */
.human,
.plant,
.soil {
    padding: 1rem;
    width: 150px;
    border-radius: 50%;
    font-size: 1.3rem;
    color: #000;
    /* background: green; */
    outline: none;
    /* border-color: green; */
    border: none;
    cursor: pointer;
}

.move {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 5rem;

}

/* Reload button style */
.reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: green;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 1.2rem;
}


/* Responsive Design */
@media screen and (max-width: 612px) {
    .title {
        text-align: center;
    }

    .score {
        position: absolute;
        top: 200px;
        width: 100vw;
    }

    .options {
        width: 100vw;
    }
}